@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 115%;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  background: radial-gradient(#25AFC2, #2666C2)
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgba(255, 255, 255, 0.4);
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.4);
}